.container{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;

    @media screen and (min-width: 1440px){
        max-width: 1440px;
        margin: 0 auto;
        padding-left: 24px;
        padding-right: 24px;
    }
}