.footer{
    background: #F7F7F7;
    &__list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        @media screen and (min-width: 1440px){
            width: 891px;
            margin: 0 auto;
            flex-direction: row ;
            justify-content: space-between;
            padding-top: 26px;
        }
        
    }

    &__color{
        color: $mainColor;
        cursor: pointer;
        
        &:hover,&:focus{
            color: $hoverColor;
        }
    }

    &__item{
        position: relative;

        @media screen and (min-width: 1440px){
            flex-basis: calc((100% - 100px) / 5);
        }
    }

    &__title{
        padding: 12px 0;
        font-family: Cormorant Garamond;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.16364px;
        color: $mainColor;
        cursor: pointer;
        &:hover,&:focus{
        color: $hoverColor;
        }
    }

    &__btn{
        position: absolute;
        right: 0;
        top: 20px;
        transform: translateY(-50%);

        @media screen and (min-width: 1440px){
            display: none;
        }


    }

    &__list-drop{
        padding-top: 2px;
        padding-bottom: 10px;
        
        @media screen and (min-width: 1440px){
            padding-bottom: 0;
        }
    } 

    &__item-drop:not(:last-child){
        margin-bottom: 10px ;
    
        @media screen and (min-width: 1440px){
            margin-bottom: 6px;
        }
        
    }
    &__item-drop{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 0.1px;
        color: $mainColor;
        cursor: pointer;

        &:hover,&:focus{
            color: $hoverColor;
        }
    }

    &__social-padding{
        padding-top: 5px;
        padding-bottom: 16px;
        @media screen and (min-width: 1440px){
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &__social{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    &__social-item{
        width: 40px;
        height: 40px;
        position: relative;
        fill: $mainColor;
        cursor: pointer;
    
        &:hover,&:focus{
            fill: $hoverColor;
        }

        @media screen and (min-width: 1440px){
            width: 35px;
            height: 35px;
        }
    }

    &__social-icon{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        fill: $mainColor;
        cursor: pointer;
        
        &:hover,&:focus{
            fill: $hoverColor;
        }
    }

    &__icon{
        fill: $mainColor;
        cursor: pointer;
        
        &:hover,&:focus{
            fill: $hoverColor;
        }
    }

    &__rights{
        text-align: center;
        padding-bottom: 22px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 0.5px;
        color: $mainColor;
        cursor: pointer;
        
        &:hover,&:focus{
            color: $hoverColor;
        }

        @media screen and (min-width: 1440px){
            padding-top: 38px;
        }
    }

}
.is-hidden{
    display: none;

    @media screen and (min-width: 1440px){
            display: block;
        }
}
