//====================================================================================================
// .header{
//     background: linear-gradient(180deg, rgba(51, 51, 51, 0.9) 14.31%, rgba(27, 27, 27, 0.469176) 58.6%, rgba(0, 0, 0, 0.0001) 100%);
//     margin: 0 auto;
//     height: 164px;
//     width: 100%;
    
//     &__main{
//         background-image: url("../img/BG1.png");
//         background-color: #333333;
//         position: absolute;
//         width: 1440px;
//         height: 756px;
//         left: 0px;
//         top: 24px;
//     }
//     &__menu{
//         height: 140px;
//         font-family: $fontFamily;
//     }
// }

.header{
    background: linear-gradient(180deg, rgba(51, 51, 51, 0.24) 14.31%, rgba(27, 27, 27, 0.1) 58.6%, rgba(0, 0, 0, 0.00000000001) 100%);
    position: fixed;
    width: 100%;
    left:0;
    top: 0;
    z-index: 1;
    &__wrapper-mob{
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: 1440px){
            display: none;
            max-width: 1440px;
            top: 24px;
            
        }
    }
    &__left-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__logo{
        width: 104px;
        height: 20.21px;
        margin-top: 20px;
        // background-color: green;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    }
    &__cart-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__btn-buy{
        font-size: 23px;
        margin-top: 20px;
        margin-right: 8px;
    }
    &__number{
        content: "";
        display: block;
        width: 40px;
        // background-color: blue;
        height: 40px;
    }
    &__wrapper-desk{
        display: none;
        @media screen and (min-width: 1440px){
            padding-top: 48px;
            padding-bottom: 25px;
            display: flex;
            justify-content: space-between;
            background-color: transparent;
            width: 100%;
        }
    }
    &__logo-desk{
        @media screen and (min-width: 1440px){
            width: 141px;
            height: 57px;
            font-size: 38px;
            color: $witeColor;
            font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 57px;
/* identical to box height */
letter-spacing: 0.95px;

color: #FFFFFF;

text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
        }
    }
    &__form-search{
        @media screen and (max-width: 360px) {
            display: none;
        }
        
    }
    &__nav-container{
        display: flex;
        flex-direction: column;
        width: 641px;
        height: 20px;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    &__item{
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        margin-right: 33px;
    }
    &__input-desk{
        width: 584px;
        margin: 0 auto;
    }
    &__registration-container{
        width: 157px;
        background-color: green;
    }
    &__btn-buy._icon-basket{
    color: $witeColor;
    }
    &__nav{
        margin-top: 24px;
        margin-bottom: 24px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        margin-left: -29px;
        color: #FFFFFF;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    }
}
.search-box{
width: 550px;
position: relative;
display: flex;
height: 48px;
& :hover{
color: $hoverColor;}
}
.search{
    width: 100%;
    border-radius: 3px 0 0 3px;
    border: 1px;
    background: rgba(247, 247, 247, 0.24);
    height: 17px;
    outline: none;
    cursor: pointer;
    font-size: 11px;
    height: 48px;
    padding: 16px 16px 15px 16px;
    font-family: Poppins;
font-style: normal;
font-weight: 500;

}
.search:focus{
    color: $hoverColor;
    box-shadow: 0 0 5px $hoverColor;
}

.search-btn{
    width: 40px;
    height: 48px;
    border: 1px;
    background: rgba(247, 247, 247, 0.24);
    text-align: center;
    color: $witeColor;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    font-size: 16px;
}

.search-btn:hover{
        color: $hoverColor;
    }

::-webkit-input-placeholder { /* WebKit browsers */
   color: $witeColor;
   
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $witeColor;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $witeColor;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:  $witeColor;
}


.burger-menu{
    margin-right: 16px;
    width: 20px;
    height: 15px;
    border: none;
    margin-top: 22px;
}

._icon-search{
    color: $witeColor;
    
}

.yellow {
    background-color: yellow;
    margin-top: 20px;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.basket-num{
    display: inline-block;
    font-size: 11px;
    padding-top: 6px;
}



//====================================================================================================

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/