//<МИКСИНЫ>===================
@import "mixins";
//</МИКСИНЫ>==================

//<Подключаем шрифты>=========
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>========

//<Иконочные шрифты>==========
@import "icons";
//</Иконочные шрифты>=========

//<Шрифт по умолчанию>========
$fontFamily: "Poppins";
$fontCormorant: "CormorantGaramond";
$fontSize: 12;
//</Шрифт по умолчанию>=======


//<ПЕРЕМЕННЫЕ>================
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1422;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: rgba(0, 0, 0, 1);
$witeColor: rgba(255, 255, 255, 1);
$hoverColor: rgb(153, 74, 74);

//</ПЕРЕМЕННЫЕ>==

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==
@import "null";
body {
	color: $mainColor;
	// &._lock {
	// 	overflow: hidden;
	// }
}
// main{
//     background-image: url("../img/BG1.png");
//     // background-size: cover;
//     background-position: center;
//     background-size: 100%;
//     background-color: #333333;
// }
// ___________________________

@import "forms";
@import "header";
@import "footer";
@import "bunner";
@import "hero";
@import "container";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==
